// Brand Colors
$brand-primary: #FF8D07;
$brand-secondary: #1A45C2;
$brand-tertiary: #33C1FF;

//Text Colors
$white: #ffffff;
$black: #000000;

$title-clr:#171F24;
$text-color: #707070;
$footer-txt: #98a2b3;
$light-gray: #E6E6E6;
$section-bg:#f5f5f5;

$gray: #444444;
$color-gray-1: #2d3748;
$color-gray-2: #4f4f4f;
$color-gray-3: #555555;
$color-gray-4: #bdbdbd;
$color-gray-5: #999999;
$color-gray-6: #cccccc;
$input-bg:#f8f8f8;
$txt-highlight:#fac07d;
$btn-hover:#db7500;

// Font Sizes
$font-base: 16px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
$h1-font-size: 64px;
$h2-font-size: 48px;
$h3-font-size: 40px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
