<footer class="footer-section">
   <div class="container-fixed">
        <div class="footer-content">
            <div class="footer-logo">
                Sitcks2Stone               
            </div>
            <div class="policy_terms">
                <p class="copyright_text">All Right Reserved</p>
                <a href="#" class="policy_link">Privacy Policy</a>
                <a href="#" class="policy_link">Terms of Service</a>
            </div>
            <div class="social-icons">
                <a href="#" class="social-link" aria-label="facebook link" title="Facebook">
                   <img src="/assets/images/facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="social-link" aria-label="instagram link" title="Instagram">
                    <img src="/assets/images/instagram.svg" alt="instagram">
                </a>
                <a href="#" class="social-link" aria-label="Twitter link" title="Twitter">
                    <img src="/assets/images/twitter.svg" alt="Twitter">
                </a>
                <a href="#" class="social-link" aria-label="Youtube link" title="Youtube">
                    <img src="/assets/images/youtube.svg" alt="Youtube">
                </a>
                <a href="#" class="social-link" aria-label="Linkedin link" title="Linkedin">
                    <img src="/assets/images/linkedin.svg" alt="Linkedin">
                </a>
            </div>
        </div>
   </div>
</footer>