<header class="header fixed-top" id="header">
    <div class="container-fixed">
        <nav class="navbar">
            <a href="#" class="navbar-brand">
                <img src="../assets/images/s2s-logo.svg" alt="s2s logo" />
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li class="nav-menu-item"><a class="nav-menu-link" href="#">Home</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="#why-choose-sec">Why S2S</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="#howitworks">How it Works</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="#aboutus">About Us</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="#faq">FAQ</a></li>
            </ul>
            <a href="#contactus" class="nav-button">Contact Us</a>
            <div class="bar" id="bar">
                <div class="burger-line bar-1"></div>
                <div class="burger-line bar-2"></div>
                <div class="burger-line bar-3"></div>
            </div>
        </nav>
    </div>
</header>